/**
 * ----------------------------------------------------------------------------
 * toggleElements.css - Stylesheet for jQuery-Plugin toggleElements
 * ----------------------------------------------------------------------------
 */

/* Screen ------------------------------------------------------------------- */

@media projection, screen {

	/* Toggler - default style */
	.toggler3 {
	   margin:0;
		cursor:pointer;
		text-decoration: none;
		font-size: 13px;
		padding-left:0px;
		text-align:center;
		line-height:20px;
		display: block;
	}
	.toggler3-closed {
		color:#333;
		padding-left:0px;
		height:20px;
		background: #efefef url('../images/togglerc.gif') center right no-repeat;
		border: solid 1px white;
	}
	.toggler3-closed:hover {
		color: #000;
		padding-left:0px;
		height:20px;
		background: #fff url('../images/togglerch.gif') center right no-repeat;
		border: solid 1px #e3e3e3;
	}
	.toggler3-opened {
		color:#333;
		padding-left:0px;
		height:20px;
		background: #efefef url('../images/togglero.gif') center right no-repeat;
		border: solid 1px white;
	}
	.toggler3-opened:hover {
		color: #000;
		padding-left:0px;
		height:20px;
		background: #fff url('../images/toggleroh.gif') center right no-repeat;
		border: solid 1px #e3e3e3;
	}

	/* Container - default style */
	.toggler-c {
	}
	.toggler-c-closed {
	   background:transparent;
	   border:solid 1px #e3e3e3;
		margin:-25px 0px 25px 0px;
	   padding:20px;
	}
	.toggler-c-opened {
		margin:-25px 0px 25px 0px;
	   padding:20px;
	   background:#efefef;
	   border:solid 1px #fff;
	}

}

/* Print -------------------------------------------------------------------- */
@media print {

	.toggler-c { margin-bottom:25px; }
	.toggler2 { display: none; }

}
